<div><!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">BrainsGroup</span>
                        <hr class="star-light">
                        <span class="skills">Uma aplicação voltada para a realização de Brainstorming, com foco para utilização em palestras, salas de aula e reuniões de projeto.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O que somos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div id="bodypage" class="info">
                <div>
                    <ul>
                        <br>
                        <p>Estudantes de TI que visam resolver problemas de falta de internet proporcionando um acesso a uma plataforma off-line com acessos a aplicações interativas voltadas para aulas e palestras.</p>

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>